//--------------------->MOBILE <= 22.8185nm

//bcg
#body-index {
    background-image: url("../images/index-triangles-bcg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

//header
//logo
#logo-header {
    width: 25%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;
}

#logo-desktop {
    display: none;
}

  #logo-mobile {
    display: block;
}

  //social media
  #social-media {
      display: none;
}

//body
//titles
#IM {
    font-size: 3em;
    color: white;
    font-family: $text;
    font-weight: 600;
    margin-left: 5%;
    margin-top: 15%;
    line-height: 1em;
}

#designer {
    font-size: 4em;
    color: $yellow;
    font-family: $miller;
    font-weight: 700;
    margin-left: 5%;
}

#hero-text {
    p {
        width: 275px;
        font-family: $text;
        font-weight: 100;
        color: white;
        font-size: 1em;
        margin-left: 5%;
        line-height: 23px;
        margin-top: 15%;
        width: 60%;
    }
}

  //contact-button
  #contact {
      border: solid thin white;
      padding: 10px 40px;
      background-color: transparent;
      margin-left: 5%;
      margin-top: 10%;

      a {
          text-decoration: none;
          color: white;
          font-family: $text;
          font-weight: 100;
          font-size: 1.5em;
      }
  }

  //footer
  #footer-index {
      h3 {
          color: rgba(255, 255, 255, 0.411);
          font-family: $text;
          font-weight: 100;
          font-size: 1em;
          float: right;
          margin-right: -7.5%;
          margin-top: 15%;
          transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
      }
  }

      //media query 385px ---MOBILE BIG---
@media screen and (min-width: 24.0625em) {
    #footer-index {
        h3 {
            margin-top: 8%;
        }
    }
}

    //media query 429px ---MOBILE BIG---
@media screen and (min-width: 26.8125em) {
    #logo-header {
        width: 18%;
    }
}

//media query 463px ---MOBILE BIG---
@media screen and (min-width: 28.9375em) {
    #logo-header {
        width: 25%;
    }

    #footer-index {
        h3 {
            margin-top: 3%;
        }
    }
}

//media query 500px ---MOBILE BIG---
@media screen and (min-width: 31.25em) {
    #logo-header {
        width: 20%;
    }

    #footer-index {
        h3 {
            margin-top: 0;
        }
    }
}

//media query 550px ---MOBILE BIG---
@media screen and (min-width: 34.375em) {
    #footer-index {
        h3 {
            margin-top: -10%;
        }
    }
}

//media query 660px ---MOBILE BIG---
@media screen and (min-width: 41.25em) {
    #footer-index {
        h3 {
            margin-top: -16%;
            margin-right: -2%;
        }
    }
}

  //media query 768px ---TABLET---
@media screen and (min-width: 48em) {
    #logo-header {
        width: 19%;
        float: right;
        margin-right: 16%;
        margin-top: -19%;
        margin-bottom: 15%;

        img {
            -webkit-box-shadow: -9px 11px 42px -19px rgba(0,0,0,1);
            -moz-box-shadow: -9px 11px 42px -19px rgba(0,0,0,1);
            box-shadow: -9px 11px 42px -19px rgba(0,0,0,1);
          }
    }

    #hero-text {
        p {
            width: 33%;
            margin-top: 2%;
        }
    }

    #logo-desktop {
        display: block;
    }
  
    #logo-mobile {
      display: none;
  }

    #IM {
        font-size: 5em;
    }

    #designer {
        margin-left: 16%;
        font-size: 6em;
    }

    #contact {
        margin-top: 5%;
        margin-bottom: 17%;
    }

    #footer-index {
        h3 {
            margin-right: 5.5%;
            margin-top: -4%;
            transform: none;
        }
    }

}

 //media query 1024 ---DESKTOP SMALL---
 @media screen and (min-width: 64em) {
    #logo-header {
        width: 14%;
    }

    #hero-text {
        p {
            width: 25%;
        }
    }

    #social-media {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 330px;
        margin-left: 92%;
        position: absolute;
        margin-top: -6%;
        a {
            img {
                    width: 20px;
            }
        }
    }
 }

  //media query 1266 ---DESKTOP MEDIUM---
  @media screen and (min-width: 79.125em) {
        #logo-header {
            width: 12%;
        }
  }

  //media query 1470 ---DESKTOP MEDIUM---
  @media screen and (min-width: 92.5em) {
    #hero-text {
        p {
            width: 19%;
        }
    }
}

//media query 1485 ---DESKTOP XL---
@media screen and (min-width: 79.125em) {
    #logo-header {
        width: 10%;
    }
}