//body
#body-projects {
    background-color: $blue;
}


//title

#title-projects {
    h1 {
        color: $yellow;
        font-family: $miller;
        font-weight: 600;
        font-size: 5em;
        margin-left: 3%;
        margin-top: 10%;
    }

    p {
        width: 275px;
          font-family: $text;
          font-weight: 400;
          color: white;
          font-size: 0.8em;
          margin-left: 5%;
          line-height: 18px;
          margin-top: 3em;
          width: 70%;
    }

    button {
        border: solid thin white;
        padding: 5px 30px;
        background-color: $blue;
        margin-left: 5%;
        margin-top: 3em;
        margin-bottom: 10%;
        cursor: pointer;

      a {
          text-decoration: none;
          color: white;
          font-family: $text;
          font-weight: 400;
          font-size: 1.5em;
      }
    }

    button:hover {
        background-color: $yellow;
        transition: ease-in 0.2s;

        a {
            color: white;
        }
    }
}

//projects flex-box
#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;

    #project-1 {
        background-image: url(../images/thumbnail-mobile-thermosecurity.jpg);
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        height: 18em;

        a {
            div {
                width: 100%;
                height: 18em;
            } 
        }
    }

    #project-2 {
        background-image: url(../images/thumbnail-mobile-we_bike.jpg);
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        height: 18em;
        a {
            div {
                width: 100%;
                height: 18em;
            } 
        }
    }

    #project-3 {
        background-image: url(../images/thumbnail-mobile-im_part_of_the_cure.jpg);
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        height: 18em;
        a {
            div {
                width: 100%;
                height: 18em;
            } 
        }

    }

    

    #project-4 {
        background-image: url(../images/thumbnail-mobile-chatapp.jpg);
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        height: 18em;
        a {
            div {
                width: 100%;
                height: 18em;
            } 
        }

    }

    

    #project-5 {
        background-image: url(../images/thumbnail-mobile-couples_resort.jpg);
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        height: 18em;
        a {
            div {
                width: 100%;
                height: 18em;
            } 
        }

    }

    

    #project-6 {
        background-image: url(../images/thumbnail-mobile-accessibility.jpg);
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        height: 18em;
        a {
            div {
                width: 100%;
                height: 18em;
            } 
        }

    }

    

    #project-7 {
        background-image: url(../images/thumbnail-mobile-regenx.jpg);
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        height: 18em;
        a {
            div {
                width: 100%;
                height: 18em;
            } 
        }

    }

    

    #project-8 {
        background-image: url(../images/thumbnail-mobile-sportchek.jpg);
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        height: 18em;
        a {
            div {
                width: 100%;
                height: 18em;
            } 
        }

    }

    

    #project-9 {
        background-image: url(../images/thumbnail-mobile-mixtape.jpg);
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        height: 18em;
        a {
            div {
                width: 100%;
                height: 18em;
            } 
        }

    }

   

    #project-10 {
        background-image: url(../images/thumbnail-mobile-ecigarrettes.jpg);
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        height: 18em;
        a {
            div {
                width: 100%;
                height: 18em;
            } 
        }

    }

    

    #more-soon {
        background-color: $yellow;
        width: 100%;
        height: 18em;
        background-position: center;

        h1 {
            font-family: $text;
            color: white;
            font-size: 2em;
            padding-top: 4.5em;
            font-weight: 600;
            padding-left: 0.5em;
        }
    }
}

//media query 500px
@media screen and (min-width: 31.25em) {
    #projects {
        flex-direction: row;
        flex-wrap: wrap;

        #project-1 {
            width: 40%;
            height: 17em;
            background-position: center;
            a {
                div {
                    height: 17em;
                }
            }
        }

        #project-1:hover {
            a {
                text-decoration: none;
                div {
                    background-color: #000e4fea;
                    transition: ease-in 0.2s;
    
                    h1 {
                        transition: ease-in 0.2s;
                        display: block;
                        font-family: $text;
                        font-weight: 100;
                        font-size: 2.3em;
                        text-align: center;
                        color: white;
                        padding-top: 3.5em;
                    }
                }
            }
        }

        #project-2 {
            width: 60%;
            height: 17em;
            background-position: center;
            a {
                div {
                    height: 17em;
                }
            }
        }

        #project-2:hover {
            a {
                text-decoration: none;
                div {
                    background-color: #000e4fea;
                    transition: ease-in 0.2s;
    
                    h1 {
                        transition: ease-in 0.2s;
                        display: block;
                        font-family: $text;
                        font-weight: 100;
                        font-size: 2.3em;
                        text-align: center;
                        color: white;
                        padding-top: 3.5em;
                    }
                }
            }
        }

        #project-3 {
            width: 100%;
            background-image: url(../images/thumbnail-medium-im_part_of_the_cure.jpg);
            height: 17em;
            background-position: center;
            a {
                div {
                    height: 17em;
                }
            }
        }

        #project-3:hover {
            a {
                text-decoration: none;
                div {
                    background-color: #000e4fea;
                    transition: ease-in 0.2s;
    
                    h1 {
                        transition: ease-in 0.2s;
                        display: block;
                        font-family: $text;
                        font-weight: 100;
                        font-size: 2.3em;
                        text-align: center;
                        color: white;
                        padding-top: 3.5em;
                    }
                }
            }
        }

        #project-4 {
            background-image: url(../images/thumbnail-medium-chatapp.jpg);
            width: 33%;
            height: 12em;
            background-position: center;
            a {
                div {
                    height: 12em;
                }
            }
        }

        #project-4:hover {
            a {
                text-decoration: none;
                div {
                    background-color: #000e4fea;
                    transition: ease-in 0.2s;
    
                    h1 {
                        transition: ease-in 0.2s;
                        display: block;
                        font-family: $text;
                        font-weight: 100;
                        font-size: 1.5em;
                        text-align: center;
                        color: white;
                        padding-top: 3.5em;
                    }
                }
            }
        }

        #project-5 {
            // background-image: url(../images/thumbnail-couples_resort.jpg);
            width: 34%;
            height: 12em;
            background-position: center;
            a {
                div {
                    height: 12em;
                }
            }
        }

        #project-5:hover {
            a {
                text-decoration: none;
                div {
                    background-color: #000e4fea;
                    transition: ease-in 0.2s;
    
                    h1 {
                        transition: ease-in 0.2s;
                        display: block;
                        font-family: $text;
                        font-weight: 100;
                        font-size: 1.5em;
                        text-align: center;
                        color: white;
                        padding-top: 3.5em;
                    }
                }
            }
        }

        #project-6 {
            // background-image: url(../images/thumbnail-accessibility.svg);
            width: 33%;
            height: 12em;
            background-position: center;
            a {
                div {
                    height: 12em;
                }
            }
        }

        #project-6:hover {
            a {
                text-decoration: none;
                div {
                    background-color: #000e4fea;
                    transition: ease-in 0.2s;
    
                    h1 {
                        transition: ease-in 0.2s;
                        display: block;
                        font-family: $text;
                        font-weight: 100;
                        font-size: 1.5em;
                        text-align: center;
                        color: white;
                        padding-top: 3.5em;
                    }
                }
            }
        }

        #project-7 {
            background-image: url(../images/thumbnail-medium-regenx.jpg);
            width: 40%;
            height: 17em;
            background-position: center;
            a {
                div {
                    height: 17em;
                }
            }
        }

        #project-7:hover {
            a {
                text-decoration: none;
                div {
                    background-color: #000e4fea;
                    transition: ease-in 0.2s;
    
                    h1 {
                        transition: ease-in 0.2s;
                        display: block;
                        font-family: $text;
                        font-weight: 100;
                        font-size: 2.3em;
                        text-align: center;
                        color: white;
                        padding-top: 3.5em;
                    }
                }
            }
        }

        #project-8 {
            // background-image: url(../images/thumbnail-sportchek.jpg);
            width: 60%;
            height: 17em;
            background-position: center;
            a {
                div {
                    height: 17em;
                }
            }
        }

        #project-8:hover {
            a {
                text-decoration: none;
                div {
                    background-color: #000e4fea;
                    transition: ease-in 0.2s;
    
                    h1 {
                        transition: ease-in 0.2s;
                        display: block;
                        font-family: $text;
                        font-weight: 100;
                        font-size: 2.3em;
                        text-align: center;
                        color: white;
                        padding-top: 3.5em;
                    }
                }
            }
        }

        #project-9 {
            background-image: url(../images/thumbnail-medium-mixtape.jpg);
            width: 33%;
            height: 12em;
            background-position: center;
            a {
                div {
                    height: 12em;
                }
            }
        }

        #project-9:hover {
            a {
                text-decoration: none;
                div {
                    background-color: #000e4fea;
                    transition: ease-in 0.2s;
    
                    h1 {
                        transition: ease-in 0.2s;
                        display: block;
                        font-family: $text;
                        font-weight: 100;
                        font-size: 1.5em;
                        text-align: center;
                        color: white;
                        padding-top: 3.5em;
                    }
                }
            }
        }

        #project-10 {
            background-image: url(../images/thumbnail-medium-ecigarrettes.jpg);
            width: 33%;
            height: 12em;
            background-position: center;
            a {
                div {
                    height: 12em;
                }
            }
        }

        #project-10:hover {
            a {
                text-decoration: none;
                div {
                    background-color: #000e4fea;
                    transition: ease-in 0.2s;
    
                    h1 {
                        transition: ease-in 0.2s;
                        display: block;
                        font-family: $text;
                        font-weight: 100;
                        font-size: 1.5em;
                        text-align: center;
                        color: white;
                        padding-top: 3.5em;
                    }
                }
            }
        }

        #more-soon {
            background-color: $yellow;
            width: 34%;
            height: 12em;
            background-position: center;

            h1 {
                font-family: $text;
                color: white;
                font-size: 1.5em;
                padding-top: 50%;
                font-weight: 600;
                padding-left: 0.5em;
            }
        }
    }

    #title-projects {
        p {
            width: 27em;
        }
    }
}

//media query 700px
@media screen and (min-width: 43.75em) {
    #projects {
        #project-1 {
            height: 23em;
            background-image: url(../images/thumbnail-desktop-thermosecurity.jpg);
            background-position: center;
    
            a {
                div {
                    width: 100%;
                    height: 23em;
                } 
            }
        }

        #project-1:hover {
            a {
                div {    
                    h1 {
                        font-size: 3em;
                    }
                }
            }
        }
    
        #project-2 {
            background-image: url(../images/thumbnail-desktop-we_bike.jpg);
            height: 23em;
            a {
                div {
                    width: 100%;
                    height: 23em;
                } 
            }
        }

        #project-2:hover {
            a {
                div {    
                    h1 {
                        font-size: 3em;
                    }
                }
            }
        }
    
        #project-3 {
            background-image: url(../images/thumbnail-im_part_of_the_cure.jpg);
            height: 30em;
            a {
                div {
                    width: 100%;
                    height: 30em;
                } 
            }
        }

        #project-3:hover {
            a {
                div {    
                    h1 {
                        font-size: 4em;
                    }
                }
            }
        }
    
        #project-4 {
            background-image: url(../images/thumbnail-desktop-chatapp.jpg);
            height: 18em;
            a {
                div {
                    width: 100%;
                    height: 18em;
                } 
            }
        }

        #project-4:hover {
            a {
                div {    
                    h1 {
                        font-size: 2.4em;
                    }
                }
            }
        }

        #project-5 {
            height: 18em;
            a {
                div {
                    width: 100%;
                    height: 18em;
                } 
            }
        }

        #project-5:hover {
            a {
                div {    
                    h1 {
                        font-size: 2.4em;
                    }
                }
            }
        }

        #project-6 {
            height: 18em;
            a {
                div {
                    width: 100%;
                    height: 18em;
                } 
            }
        }

        #project-6:hover {
            a {
                div {    
                    h1 {
                        font-size: 2.4em;
                    }
                }
            }
        }

        #project-7 {
            background-image: url(../images/thumbnail-regenx.jpg);
            height: 22em;
            a {
                div {
                    width: 100%;
                    height: 22em;
                } 
            }
        }

        #project-7:hover {
            a {
                div {    
                    h1 {
                        font-size: 3em;
                    }
                }
            }
        }
    
        #project-8 {
            background-image: url(../images/thumbnail-sportchek.jpg);
            height: 22em;
            a {
                div {
                    width: 100%;
                    height: 22em;
                } 
            }
        }

        #project-8:hover {
            a {
                div {    
                    h1 {
                        font-size: 3em;
                    }
                }
            }
        }

        #project-9 {
            background-image: url(../images/thumbnail-mixtape.png);
            height: 25em;
            a {
                div {
                    width: 100%;
                    height: 25em;
                } 
            }
        }

        #project-9:hover {
            a {
                div {    
                    h1 {
                        font-size: 3em;
                    }
                }
            }
        }

        #project-10 {
            background-image: url(../images/thumbnail-ecigarrettes.jpg);
            height: 25em;
            a {
                div {
                    width: 100%;
                    height: 25em;
                } 
            }
        }

        #project-10:hover {
            a {
                div {    
                    h1 {
                        font-size: 3em;
                    }
                }
            }
        }

        #more-soon {
            height: 25em;

            h1 {
                font-size: 2.5em;
                padding-top: 50%;
                padding-left: 0.5em;
            }
        }
    }
    
}

//media query 768px
@media screen and (min-width: 48em) {
    .logo-box {
        margin-top: -15% !important;
    }

    #body-projects {
        background: linear-gradient(to right, white 60%, $blue 60%);
    
    }

    #title-projects {
        p {
            color: $blue;
        }
    }
}

//media query 1024px
@media screen and (min-width: 64em) {
    #title-projects {
        h1 {
            font-size: 7em !important;
            margin-left: 1em !important;
        }

        p {
            font-size: 1em !important;
            line-height: 1.5em !important;
            margin-left: 11em !important;
        }
        button {
            margin-left: 16em !important;
        }
    }
}

//media query 1200px
@media screen and (min-width: 75em) {
    #projects {
        #project-1 {
            height: 23em;
            background-image: url(../images/thumbnail-desktop-thermosecurity.jpg);
            background-position: center;
    
            a {
                div {
                    width: 100%;
                    height: 23em;
                } 
            }
        }

        #project-2 {
            height: 23em;
            background-image: url(../images/thumbnail-we_bike.jpg);
            background-position: center;
    
            a {
                div {
                    width: 100%;
                    height: 23em;
                } 
            }
        }

        #project-3 {
            height: 23em;
            background-image: url(../images/thumbnail-im_part_of_the_cure.jpg);
            background-position: center;
    
            a {
                div {
                    width: 100%;
                    height: 23em;
                } 
            }
        }

        #project-3:hover {
            a {
                div {    
                    h1 {
                        font-size: 3.5em;
                    }
                }
            }
        }
    }
}

//media query 1266px
// @media screen and (min-width: 70.125em) {
//     .logo-box {
//         width: 10em !important;

//     }
// }

//media query 1360px
@media screen and (min-width: 85em) {
    #projects {
        #project-3 {
            height: 40em;
            a {
                div {
                    height: 40em;
                }
            }
        }

        #project-3:hover {
            a {
                div {    
                    h1 {
                        font-size: 5em;
                    }
                }
            }
        }

        #project-4 {
            height: 23em;
            background-image: url(../images/thumbnail-large-chatapp.jpg);
            background-position: center;
    
            a {
                div {
                    width: 100%;
                    height: 23em;
                } 
            }
        }

        #project-4:hover {
            a {
                div {    
                    h1 {
                        font-size: 2.9em;
                    }
                }
            }
        }

        #project-5 {
            height: 23em;
            background-image: url(../images/thumbnail-large-couples_resort.jpg);
            background-position: center;
    
            a {
                div {
                    width: 100%;
                    height: 23em;
                } 
            }
        }

        #project-5:hover {
            a {
                div {    
                    h1 {
                        font-size: 2.9em;
                    }
                }
            }
        }

        #project-6 {
            height: 23em;
            background-image: url(../images/thumbnail-large-accessibility.jpg);
            background-position: center;
    
            a {
                div {
                    width: 100%;
                    height: 23em;
                } 
            }
        }

        #project-6:hover {
            a {
                div {    
                    h1 {
                        font-size: 2.9em;
                    }
                }
            }
        }

        #project-7 {
            height: 26em;
            background-image: url(../images/thumbnail-large-regenx.jpg);
            background-position: center;
    
            a {
                div {
                    width: 100%;
                    height: 26em;
                } 
            }
        }

        #project-8 {
            height: 26em;
            a {
                div {
                    height: 26em;
                }
            }
        }
    }
}