//--------------------->MOBILE <= 22.8185nm

//header - hero background
#header-project1 {
    background-color: $mixtape;
}

//logo header
#logo-header-white {
    width: 25%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;
}

//hero text
#hero-text-projects {
    h1 {
        font-family: $text;
        font-size: 4em;
        color: $yellow;
        font-weight: 600;
        margin-left: 5%;
        margin-top: 15%;
        width: 40%;
    }

    h3 {
        font-family: $text;
        font-weight: 100;
        margin-left: 5%;
        color: white;
        margin-top: 10px;
        padding-bottom: 15%;
        width: 37%;
    }
}

//hero mockup
#hero-img {
    width: 55%;
    position: absolute;
    margin-top: -25%;
    margin-left: 42%;
}

//the situation
#situation {
    h1 {
        font-family: $text;
        font-weight: 700;
        margin-left: 5%;
        padding-top: 24%;
        font-size: 3em;
        margin-bottom: 5%;
    }

    p {
        font-family: $text;
        font-weight: 400;
        margin-left: 10%;
        width: 80%;
        line-height: 1.4em;
    }

    //visit website button
    button {
        border: solid thin $mixtape;
        padding: 5px 20px;
        background-color: transparent;
        margin-left: 10%;
        margin-top: 5%;
        display: block;
        margin-left: auto;
        margin-right: auto;

        a {
            text-decoration: none;
            color: $mixtape;
            font-family: $text;
            font-weight: 300;
            font-size: 1.5em;
        }
    }
}

.long-title {
    h1 {
        font-size: 2.8em !important;
    }
}

//the solution
#solution {
    h1 {
        font-family: $text;
        font-weight: 700;
        margin-left: 5%;
        margin-top: 20%;
        font-size: 3em;
        margin-bottom: 5%;
        width: 80%;
    }

    p {
        font-family: $text;
        font-weight: 400;
        margin-left: 10%;
        width: 80%;
        line-height: 1.4em;
    }

    //visit website button
    button {
        border: solid thin $mixtape;
        padding: 5px 20px;
        background-color: transparent;
        margin-left: 10%;
        margin-top: 5%;

        a {
            text-decoration: none;
            color: $mixtape;
            font-family: $text;
            font-weight: 300;
            font-size: 1.5em;
        }
    }
}

//#footer-projects mockups
#mockups {
    background: linear-gradient(to bottom, white 30%, $yellow 30%);
    margin-top: 15%;

    img {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10%;
    }
}

.ipad-hand-mockup {
    img {
        width: 50% !important;
        margin-bottom: 0 !important;
    }
}

//mockup buttons
#mockup-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10%;

    #button-projects {
        border: solid thin white;
        padding: 5px 30px;
        background-color: transparent;
        margin-top: 5%;
        // margin-left: 0 !important;
        margin-right: 0 !important;

        a {
            text-decoration: none;
            color: white;
            font-family: $text;
            font-weight: 300;
            font-size: 1.5em;
            
        }
    }

    #button-contact {
        border: transparent;
        padding: 5px 30px;
        background-color: $yellow;
        margin-left: 10%;
        margin-top: 5%;
        -webkit-box-shadow: 0 10px 40px -12px rgba(0,0,0,1);
        -moz-box-shadow: 0 10px 40px -12px rgba(0,0,0,1);
        box-shadow: 0 10px 40px -12px rgba(0,0,0,1);

        a {
            text-decoration: none;
            color: white;
            font-family: $text;
            font-weight: 500;
            font-size: 1.5em;
        }
    }
}

//#footer-projects
#footer-projects {
    margin-top: 10%;
    background-color: $mixtape;

    img {
        width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
    }

    nav {
        margin-top: 10%;
        margin-bottom: 5%;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: center;

            li {
                padding: 0 15px;

                a {
                    font-family: $text;
                    font-weight: 500;
                    color: white;
                    text-decoration: none;
                }
            }
        }
        
    }

    h3 {
        color: rgba(255, 255, 255, 0.411);
        font-family: $text;
        font-weight: 100;
        font-size: 0.7em;
        text-align: center;
        padding: 10px 0;
    }
}

//media query 387px ---MOBILE---
@media screen and (min-width: 24.1875em) {
    #situation {
        h1 {
            width: 40%;
        }
    }
}

//media query 445px ---MOBILE---
@media screen and (min-width: 27.8125em) {
    #logo-header-white {
        width: 18%;
    }

    #hero-img {
        width: 50%;
        margin-top: -21%;
    }

    #solution {
        h1 {
            width: 60%;
        }
    }
}

//media query 535px ---MOBILE---
@media screen and (min-width: 33.4375em) {
    #hero-text-projects {
        h1 {
            font-size: 5em;
            margin-top: 10%;
        }
    }

    #footer-projects {
        img {
            width: 13%;
        }
    }

    .thermo-hero {
        h1 {
            font-size: 3em !important;
        }
    }

    #gravity-devices {
        img {
            width: 60% !important;
            margin-top: 5% !important;
        }

    }

    #horizontal-img {
        img {
            width: 80%;
            margin-top: 5%;
            margin-bottom: 5%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .top-0 {
        h1 {
            margin-top: 0 !important;
            padding-top: 0.5em !important;
        }
    }
}

//media query 665px ---TABLET---
@media screen and (min-width: 41.5625em) {
    #logo-header-white {
        width: 13%;
        padding-top: 3%;
    }

    #hero-text-projects {
        h1 {
            margin-top: 6%;
        }

        h3 {
            width: 30%;
        }
    }

    #hero-img {
        margin-top: -16%;
    }

    #mockups {
        img {
            margin-bottom: 5%;
        }
    }
}

//media query 768px ---TABLET---
@media screen and (min-width: 48em) {
    #logo-header-white {
        width: 11%;
    }

    #hero-img {
        margin-top: -12%;
    }

    #hero-text-projects {
        h1 {
            margin-top: 8%;
        }

        h3 {
            padding-bottom: 12%;
        }
    }

    #situation {
        h1 {
            font-size: 4em;
        }

        p {
            margin-top: 10%;
            width: 50%;
        }
    }

    #solution {
        h1 {
            font-size: 4em;
            margin-top: 15%;
            width: 50%;
        }

        p {
            margin-top: 10%;
            width: 50%;
        }
    }

    #footer-projects {
        nav {
            ul {
                li {
                    padding: 0 5%;
                }
            }
        }
    }
}

//media query 900px ---TABLET---
@media screen and (min-width: 56.25em) {
    #hero-img {
        margin-top: -6%;
        width: 45%;
    }

    #hero-text-projects {
        h1 {
            font-size: 6em;
        }

        h3 {
            font-size: 1.3em;
            padding-bottom: 7%;
        }
    }

    #situation {
        h1 {
            padding-top: 30%;
            margin-left: 10%;
        }

        p {
            margin-left: 20%;
            line-height: 1.5em;
        }
    }

    #solution {
        h1 {
            margin-left: 10%;
        }

        p {
            margin-left: 20%;
            line-height: 1.5em;
        }

        button {
            margin-left: 20%;
        }
    }

    #mockup-buttons {
        padding-bottom: 5%;

        #button-projects {
            padding: 5px 45px;
        }

        #button-contact {
            padding: 5px 45px;
        }
    }

    #footer-projects {
        img {
            width: 10%;
        }
    }

    #gravity-devices1 {
        width: 60% !important;
    }
}

//media query 1024px ---TABLET---
@media screen and (min-width: 64em) {
    #logo-header-white {
        width: 9%;
    }

    #hero-text-projects {
        h1 {
            margin-left: 8%;
        }
        h3 {
            margin-left: 8%;
        }
    }
}

//media query 1120px ---DESKTOP---
@media screen and (min-width: 70em) {
    #situation {
        h1 {
            margin-left: 15%;
        }

        p {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    #solution {
        h1 {
            margin-left: 15%;
        }

        p {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        button {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    #mockups {
        img {
            max-width: 100%;
        }
    }
}

//media query 1218px ---DESKTOP---
@media screen and (min-width: 76.125em) {
    #situation {
        h1 {
            width: 20%;
        }
    }

    #solution {
        h1 {
            width: 20%;
        }
    }

    #mockups {
        img {
            width: 75%;
        }
    }

    #footer-projects {
        h3 {
            padding: 20px 0;
            font-size: 1em;
        }
        nav {
            ul {
                li {
                    padding: 0 4%;
                }
            }
        }
    }

    #gravity-devices {
        img {
            width: 45% !important;
        }
    }

    .top-0 {
        p {
            margin-top: 0 !important;
        }
    }

    .long-title {
        h1 {
            font-size: 4em !important;
        }
    }

    .campaign-title {
        h1 {
            width: 45% !important;
        }
    }
}

//media query 1400px ---DESKTOP---
@media screen and (min-width: 87.5em) {
    #logo-header-white {
        width: 8%;
    }

    #hero-text-projects {
        h1 {
            font-size: 7em;
        }
    }

    #hero-img {
        width: 40%;
        margin-top: -16%;
        margin-left: 50%;
    }

    #situation {
        h1 {
            font-size: 5em;
            padding-top: 17%;
        }

        p {
            margin-top: 7%;
            width: 35em;
        }
    }

    #solution {
        h1 {
            font-size: 5em;
        }

        p {
            margin-top: 7%;
            width: 35em;
        }
    }

    #mockups {
        img {
            width: 70%;
        }
    }

    #footer-projects {
        nav {
            margin-top: 8%;

            ul {
                li {
                    a{
                        font-size: 1.3em;
                    }
                }
            }
        }
    }

    #gravity-devices1 {
        width: 33em !important;
    }
}

//media query 1560px ---DESKTOP---
@media screen and (min-width: 97.5em) {
    #hero-text-projects {
        h3 {
            margin-top: 1%;
            padding-bottom: 3%;
        }
    }

    #situation {
        p {
            width: 40%;
        }
    }

    #solution {
        p {
            width: 40%;
        }
    }

}

//------------------------------> THERMOSECURITY -----
//header - hero background
#header-project_thermo {
    background-color: $thermo;
}

.thermo-hero {
    h1 {
        font-size: 2em !important;
    }
}

#thermo-button {
    border: solid thin $thermo !important;
    a {
        color: $thermo !important;
    }
}

.thermo-footer {
    background-color: $thermo !important;
}

#gravity-devices {
    img {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    }
}

//------------------------------> WE BIKE -----
.webike_header {
    background-color: $webike !important;
}

#webike-button {
    border: solid thin $webike !important;
    a {
        color: $webike !important;
    }
}

.webike-footer {
    background-color: $webike !important;
}

.wide {
    h1 {
        width: 90% !important;
    }
}

//------------------------------> I AM PART OF THE CURE -----
.cure_header {
    background-color: $cure !important;
}

#cure-button {
    border: solid thin $cure !important;
    a {
        color: $cure !important;
    }
}

.cure-footer {
    background-color: $cure !important;
}

#mockups1 {
    width: 100%;
    margin-top: 10%;
}

#gravity-devices1 {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

//------------------------------> CHATAPP -----
.chatapp_header {
    background-color: $chatapp !important;
}

#chatapp-button {
    border: solid thin $chatapp !important;
    a {
        color: $chatapp !important;
    }
}

.chatapp-footer {
    background-color: $chatapp !important;
}

.no-mockup {
    padding-top: 15% !important;
}

//------------------------------> COUPLES -----
.couples_header {
    background-color: $couples !important;
}

#couples-button {
    border: solid thin $couples !important;
    a {
        color: $couples !important;
    }
}

.couples-footer {
    background-color: $couples !important;
}

//------------------------------> ACCESSIBILITY RESEARCH -----
.access_header {
    background-color: $access !important;
}

#access-button {
    border: solid thin $access !important;
    a {
        color: $access !important;
    }
}

.access-footer {
    background-color: $access !important;
}

//------------------------------>  REGENX  -----
.regenx_header {
    background-color: $regenx !important;
}

#regenx-button {
    border: solid thin $regenx !important;
    a {
        color: $regenx !important;
    }
}

.regenx-footer {
    background-color: $regenx !important;
}

.regenx {
    width: 40% !important;
}

#full-width {
    img {
        margin: 0;
        width: 100%;
    }
}

//------------------------------> E-CIGARRETE -----
.cigarrette_header {
    background-color: $cigarrette !important;
}

#cigarrette-button {
    border: solid thin $cigarrette !important;
    a {
        color: $cigarrette !important;
    }
}

.cigarrette-footer {
    background-color: $cigarrette !important;
}
