//COLOURS
$blue: #000f4f;
$dark_blue: #000a36;
$yellow: #f9c300;
$mixtape: #6f318c;
$thermo: #2f349c;
$webike: #252525;
$cure: #1b1d1e;
$chatapp: #222222;
$couples: #94524e;
$access: #aa0e63;
$regenx: #496467;
$cigarrette: #565157;

//FONTS
$text: neue-haas-unica, sans-serif;
//font-weight 100 - font-weight 600
$miller: miller-banner, serif;
//font-weight 700


